@{
    ViewData["Title"] = "Calculate";
}

<h1>Calculate</h1>

<hr />
<form asp-action="Calculate" onsubmit="inform();">
    <div class="form-group">
        <label name="url" class="control-label"></label>
        <input name="url" type="text" class="form-control" />
        <span name="url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function inform() {
        alert('This may take a while.');
        return;
    }
</script>
