
@{ 
    ViewData["Title"] = "Contribution Calculator";
}

<h1>GitHub Contribution Tracker</h1>
<hr />
<h2>What is it?</h2>
<p>Hello, the Contribution Tracker is meant to calculate the exact number of: Commits, Additions, and Delections that a given github repository has and works by going through all the commits in a given repository history and gets the sum of each users contribution by GitHub Account</p>
<p>Note: The following app does not work for repository histories that make use of many branches, and was solely meant to calculate the number of additions and deletions on a single branch</p>
<a class="page-link text-dark" asp-area="" asp-controller="ContributionCalculator" asp-action="Calculate">Calculate Your Repo</a>
<h2>Related Links</h2>
<ul>
    <li>
        <a class="page-link text-dark" href="https://stackoverflow.com/questions/18065526/pulling-data-from-a-webpage-parsing-it-for-specific-pieces-and-displaying-it">Pulling Data From Webpages</a>
    </li>
    <li>
        <a class="page-link text-dark" href="https://html-agility-pack.net/?z=codeplex">Html Agility Pack</a>
    </li>
    <li>
        <a class="page-link text-dark" href="https://getbootstrap.com/docs/4.1/content/tables/">Bootstrap Tables</a>
    </li>
    <li>
        <a class="page-link text-dark" href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/how-to-convert-a-string-to-a-number">String to Int</a>
    </li>
    <li>
        <a class="page-link text-dark" href="https://stackoverflow.com/questions/1273139/c-sharp-java-hashmap-equivalent">Dictionaries in C#</a>
    </li>
</ul>
