@{
    ViewData["Title"] = "Generators";
}

<h1>Generators</h1>
<p>This part of the project simply has all generators I wanted to write</p>

<div class="card">
    <a id="randomNumButton" asp-action="RandomNumber">Random Number Generator</a>
</div>