@{
    ViewData["Title"] = "Card Games";
}

<h1>Card Games</h1>
<p>This part of the project simply has all card games I wanted to write, whether they are automatically played and the user can see the result or the user can play</p>

<div class="card">
    <a asp-action="AutoWar">Auto War</a>
</div>