@{
    ViewData["Title"] = "Character Sheet";
}

<h1>Character Sheet</h1>
<p>Full DND Character Sheet, can be printed using the print button</p>

<div id="characterSheet">
    <div id="header">
        <div id="nameSection">
            <input id="characterName" type="text" />
            <label for="characterName">Character Name</label>
        </div>
        <div id="indentifier">
            <div class="row1">
                <div>
                    <input type="text" id="classLevel" />
                    <label for="classLevel">Class &amp; Level</label>
                </div>
                <div>
                    <input type="text" id="background" />
                    <label for="background">Background</label>
                </div>
                <div>
                    <input type="text" id="playerName" />
                    <label for="playerSection">Player Name</label>
                </div>
            </div>
            <div class="row2">
                <div>
                    <input type="text" id="race" />
                    <label for="race">Race</label>
                </div>
                <div>
                    <input type="text" id="alignment" />
                    <label for="alignment">Alignment</label>
                </div>
                <div>
                    <input type="text" id="experiencePoints" />
                    <label for="experiencePoints">Experience Points</label>
                </div>
            </div>
        </div>
    </div>
    <div id="body">

    </div>
</div>