@{
    ViewData["Title"] = "DND";
}

<h1>DND</h1>
<p>This part of the project is for various things I can use for DND</p>

<div class="card">
    <a asp-action="CharacterSheet">Character Sheet</a>
</div>