@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project plays the role of holding all application I choose to make</p>
    <a asp-action="Sites">Applications</a>
</div>
