@{
    ViewData["Title"] = "Sites";
}

@*<li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Survey" asp-action="Index">Survey</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="ContributionCalculator" asp-action="Index">ContributionCalculator</a>
    </li>*@

<div class="card">
    <a asp-controller="CardGame" asp-action="Index">Card Game</a>
</div>
<div class="card">
    <a asp-controller="Generator" asp-action="Index">Generator</a>
</div>