@{
    ViewData["Title"] = "Sites";
}

<div>
    <a asp-action="Index">< Back</a>
</div>
<div class="card">
    <a asp-controller="CardGame" asp-action="Index">Card Game</a>
</div>
<div class="card">
    <a asp-controller="Generator" asp-action="Index">Generator</a>
</div>